@media (min-width: 992px) {
  .container-header {
    padding: 0px 0px;
  }

  .navbar-maj {
    display: flex;
    justify-content: space-between;
  }

  .navbar-min {
    display: none;
  }

  .navbar-logo {
    width: 50%;
    padding-top: 36px;
  }

  .navbar-logo img {
    height: 50px;
    margin-top: 10px;
    margin-left: 72px;
  }

  .navbar-maj ul {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    margin-right: 33px;
  }

  .nav-link {
    font-size: 17.2px;
    font-weight: 400;
    padding-right: 26px;
    padding-left: 26px;
    color: black;
    margin-right: 20px;
  }

  .nav-link:hover {
    border-top: 2px solid var(--blue);
    color: var(--blue);
    padding-top: 48px;
  }

  .container-main {
    padding: 22px 58px;
    line-height: 1.1;
  }

  .container-fluid {
    padding: 22px 4vh;
  }

  h1,
  .h2 {
    margin: 10px;
    font-size: 23.8px;
    margin-left: 2px;
  }
  .h4 {
    margin: 10px 0;
    font-size: 17px;
  }

  form {
    margin-top: 21px;
    margin-left: 2px;
  }

  /* Clear floats */
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }

  .ro-icon {
    display: none;
  }

  .search input[type="text"] {
    padding: 15px;
    width: 248px;
    height: 57px;
  }

  .btn-left {
    font-size: 20px;
    width: 54px;
    float: left;
    height: 57px;
  }

  .btn-right {
    border-radius: 0% 16px 16px 0%;
    font-size: 20px;
    border-left: none;
    float: left;
    height: 57px;
    width: 144px;
  }

  .filter {
    margin-top: 30px;
    display: flex;
  }

  .filter h3 {
    margin-left: 1px;
    margin-right: 52px;
  }

  .filter-notify {
    height: 52px;
    padding-right: 8px;
    margin-right: 40px;
    margin-left: 1px;
  }

  .filter-notify .sticker {
    font-size: 19.5px;
    padding-left: 43px;
    padding-right: 20px;
  }

  .infos {
    margin-top: 38px;
    display: flex;
    align-items: center;
    font-size: 16.9px;
  }

  .badge-info {
    width: 25px;
    height: 25px;
    margin-right: 12.5px;
    margin-left: 4px;
    font-size: 15px;
  }

  .hostals {
    line-height: 1.2;
  }

  .hosting {
    border: 1px solid var(--grey);
    border-radius: 25px;
    flex-wrap: wrap;
    background-color: var(--grey);
    order: 1;
    margin-right: 20px;
    padding-bottom: 10px;
  }

  .title {
    font-weight: bolder;
    font-size: 23.8px;
  }
  .category {
    padding-top: 37px;
    margin-left: 37px;
    margin-bottom: 20px;
  }

  .card {
    border: 1px solid var(--grey);
    border-radius: 25px;
    background-color: white;
    height: 210px;
    width: 260px;
    padding: 4px;
    margin: 4px;
    margin-bottom: 29px;
  }

  .card-img-large,
  .card-img-high,
  .card-img-mid-high,
  .card-img-min-high,
  .card-img-second-high,
  .card-img-medium,
  .card-img-medium2 {
    display: flex;
    border-radius: 25px 25px 0 0;
  }

  .card-img-large {
    width: 250px;
    height: 121px;
  }

  .card-body {
    padding-top: 7px;
    padding-left: 12px;
    line-height: 1.2;
  }

  .card-title {
    font-weight: 600;
    font-size: 17.5px;
  }
  .card-subtitle {
    padding-top: 4px;
    font-size: 15px;
  }

  .card-footer {
    padding-left: 14px;
    padding-top: 4px;
  }

  .fa-star {
    font-size: 10px;
  }

  .show {
    margin-left: 41px;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 900;
  }

  .file_1 {
    background-image: url(../images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
  }

  .file_2 {
    background-image: url(../images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
  }

  .file_3 {
    background-image: url(../images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg);
  }

  .file_4 {
    background-image: url(../images/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
  }

  .file_5 {
    background-image: url(../images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
  }

  .file_6 {
    background-image: url(../images/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
  }

  .file_7 {
    background-image: url(../images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  }

  .file_8 {
    background-image: url(../images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg);
  }

  .file_9 {
    background-image: url(../images/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
  }

  .title-end {
    font-size: 18px;
    font-weight: 600;
    color: var(--grey);
    padding: 6px;
  }

  .populars {
    order: 2;
    border: 1px solid var(--grey);
    border-radius: 25px;
    flex-wrap: wrap;
    padding: 14px;
    background-color: var(--grey);
    min-width: 372px;
  }

  .category-aside {
    display: flex;
    width: 80%;
    padding-top: 41px;
    margin-left: 37px;
    justify-content: space-between;
  }

  .fa-chart-line {
    font-size: 25px;
  }

  .display-card-aside {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
    justify-content: center;
  }

  .display-card {
    padding: 0 35px;
  }

  .card-aside {
    display: flex;
    border: 1px solid var(--grey);
    border-radius: 25px;
    height: 153px;
    width: 80%;
    min-width: 302px;
    padding: 5px;
    margin-bottom: 33px;
    background-color: white;
  }

  .card-img-aside {
    display: flex;
    border-radius: 22px 0 0 22px;
    width: 133px;
    height: 140px;
    flex-wrap: wrap;
    margin-right: 10px;
  }

  .card-body-aside {
    padding-top: 9px;
    width: 183px;
    height: 130px;
    padding-left: 12px;
    line-height: 1.2;
  }

  .card-footer-aside {
    padding-left: 1px;
    padding-top: 41px;
  }

  .activities {
    margin-top: 6px;
    min-height: 580px;
    margin-left: -5px;
    line-height: 1.2;
  }

  .display-activities {
    width: 100%;
    display: flex;
    padding-top: 15px;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .display_block {
    display: flex;
    flex-wrap: wrap;
  }

  .activity {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
  }

  @media (min-width: 1073px) and (max-width: 1408px) {
    .trick {
      flex-direction: row;
    }

    .trick .card-vertical {
      margin: 10px;
      width: 660px;
    }
  }

  @media (min-width: 992px) and (max-width: 1408px) {
    .display_block {
      display: flex;
      justify-content: center;
    }
  }

  .card-vertical {
    max-width: 320px;
    border-radius: 22px;
    background-color: white;
  }

  .high {
    height: 470px;
    margin: 5px 6px;
  }

  .second-high {
    height: 470px;
    margin: 5px 6px;
  }

  .mid-high {
    height: 245px;
    margin: 0 6px;
  }

  .min-high {
    height: 178px;
    margin: 5px 6px;
  }

  .medium {
    height: 204px;
    margin: 5px 6px;
  }

  .medium2 {
    height: 217px;
    margin: 5px 6px;
  }

  .bottom {
    margin-bottom: 46px;
  }

  .card-img-high {
    height: 410px;
    width: 100%;
    border-radius: 22px 22px 0 0;
  }
  .card-img-mid-high {
    height: 190px;
    width: 100%;
    border-radius: 22px 22px 0 0;
  }

  .card-img-min-high {
    height: 116px;
    width: 100%;
    border-radius: 22px 22px 0 0;
  }

  .card-img-medium {
    height: 144px;
    width: 100%;
    border-radius: 22px 22px 0 0;
  }

  .card-img-medium2 {
    height: 160px;
    width: 100%;
    border-radius: 22px 22px 0 0;
  }

  .card-vertical-mid-title {
    margin-top: 18px;
    margin-left: 20px;
    font-size: 17.5px;
    font-weight: 700;
  }

  .card-vertical-min-title {
    margin-top: 18px;
    margin-left: 20px;
    font-size: 17.5px;
    font-weight: 700;
  }
  .card-vertical-medium-title {
    margin-top: 18px;
    margin-left: 20px;
    font-size: 17.5px;
    font-weight: 700;
  }

  .fa-euro-sign {
    font-size: 12px;
  }

  .file_11 {
    background-image: url(../images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
  }
  .file_12 {
    background-image: url(../images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
  }

  .file_13 {
    background-image: url(../images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
  }

  .file_14 {
    background-image: url(../images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  }

  .file_15 {
    background-image: url(../images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg);
  }

  .file_16 {
    background-image: url(../images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
  }

  .card-vertical-title {
    margin-top: 18px;
    margin-left: 18px;
    font-size: 18px;
    font-weight: 700;
  }

  .col-12 {
    width: 100%;
  }

  .col-8 {
    width: 65.6%;
  }

  .col-4 {
    width: 33%;
  }

  .col-4-reduced {
    width: 33%;
  }

  /*.col-3 {
    width: 25%;
  }*/

  footer {
    padding: 26px 53px;
    display: flex;
    justify-content: space-between;
    line-height: 1.9;
    background-color: var(--grey);
  }

  .first {
    padding-top: 20px;
    padding-bottom: 12px;
  }
  .mid {
    padding-top: 20px;
    margin-left: 24px;
    padding-bottom: 12px;
  }

  .end {
    padding-top: 20px;
    margin-left: 24px;
    padding-bottom: 12px;
  }

  .footer-title {
    font-size: 19px;
    font-weight: bolder;
    color: black;
    padding-bottom: 10px;
  }

  .footer-subtitle {
    font-size: 17px;
    font-weight: normal;
    color: black;
  }

  .file_11,
  .file_14 {
    background-repeat: no-repeat;
    background-size: 220%;
    background-position: 50% 0%;
  }

  .file_13,
  .file_15,
  .file_16 {
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
