@media (max-width: 768px) {
  body {
    width: 375px;
    height: 3600px;
    background-image: url(../iPhone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container-header {
    display: flex;
    padding: 0px;
  }

  .navbar-maj {
    display: none;
  }

  .navbar-min {
    width: 100%;
    text-align: center;
  }

  .navbar-logo-small img {
    margin-top: 22px;
    width: 25%;
  }

  .navbar-min ul {
    display: flex;
    width: 100%;
    padding-top: 24px;
  }

  .nav-item {
    display: flex;
    width: 50%;
    justify-content: center;
  }

  .nav-link {
    font-size: 16px;
    font-weight: 600;
    padding-right: 36px;
    padding-left: 36px;
    color: black;
    text-align: center;
  }

  .nav-link:hover {
    border-bottom: 2px solid var(--blue);
    color: var(--blue);
    padding-bottom: 7px;
  }

  .container-main {
    margin-top: 10px;
    padding: 24px 20px;
  }

  h1,
  .h2 {
    font-size: 22.6px;
  }

  .h4 {
    margin: 13px 0;
    font-size: 16px;
  }

  form {
    padding-top: 25px;
    display: flex;
    justify-content: center;
  }

  .ro-text {
    display: none;
  }

  .search input[type="text"] {
    display: flex;
    position: relative;
    padding-left: 15px;
    width: 250px;
    height: 50px;
  }

  .btn-left {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 50px;
    height: 50px;
  }

  .btn-right {
    position: relative;
    left: -10px;
    border-radius: 16px 16px 16px 16px;
    font-size: 18px;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
  }

  .filter {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
  }

  .filter .h3 {
    margin-right: 152px;
    font-size: 18px;
    padding: 15px 4px;
  }

  .filter-notify {
    height: 50px;
    width: fit-content;
    margin-left: 25px;
    margin-right: 6px;
    margin-bottom: 14px;
  }

  .filter-notify .sticker {
    font-size: 17px;
    padding-left: 36px;
    padding-right: 17px;
  }

  .infos {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  .badge-info {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    margin-left: 4px;
  }
}
