:root {
  --blue: #0065fc;
  --dark-blue: #005dfc;
  --light-blue: #deebff;
  --grey: #f2f2f2;
  --black: black;
  --transp: rgba(255, 255, 255, 0);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: transparent;
}

.link {
  color: black;
}

.link:hover {
  color: var(--blue);
}

.card,
.card-aside,
.card-vertical {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 0.1s;
}

.container-main {
  line-height: 1.1;
}

h1,
.h2 {
  margin: 10px 0;
  font-weight: bold;
}

.h4 {
  font-weight: normal;
}

.h3 {
  padding: 15px 7px;
  font-size: 19.8px;
  font-weight: bold;
}

.search input[type="text"] {
  border: 1px solid var(--grey);
  background: white;
  float: left;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.btn-left {
  border: 1px solid var(--grey);
  border-radius: 16px 0 0 16px;
  -webkit-appearance: none;
  border-right: none;
  background-color: var(--grey);
  color: black;
}

.btn-right {
  border: 1px solid var(--blue);
  -webkit-appearance: none;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
}

.filter-notify {
  border: 2px solid var(--grey);
  display: flex;
  position: relative;
  border-radius: 0% 50px 50px 0%;
  border-left: none;
  align-items: center;
}

.filter-notify:hover {
  background: var(--blue);
  color: white;
}

.filter-notify .badge {
  position: absolute;
  left: -24px;
  display: flex;
  border-radius: 50px;
  background: var(--light-blue);
  color: var(--blue);
  width: 52px;
  height: 52px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--light-blue);
}

.badge-info {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grey);

  color: var(--blue);
}

.hostals {
  display: flex;
  justify-content: space-between;
}

.display-card {
  display: flex;
  flex-wrap: wrap;
  padding: 0 35px;
  justify-content: space-between;
}

.card-img-large,
.card-img-large,
.card-img-high,
.card-img-mid-high,
.card-img-min-high,
.card-img-second-high,
.card-img-medium,
.card-img-medium2 {
  display: flex;
  border-radius: 22px 22px 0 0;
}

.blue {
  color: var(--blue);
}

.grey {
  color: var(--grey);
}

.file_1,
.file_2,
.file_3,
.file_5,
.file_12 {
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: cover;
}

.file_13,
.file_15,
.file_16 {
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.file_4,
.file_6,
.file_7,
.file_8,
.file_9 {
  background-position: 50% 48%;
  background-repeat: no-repeat;
  background-size: cover;
}

.file_11,
.file_14 {
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 50% 0%;
}

@media (min-width: 1200px) {
  .col-8 {
    max-width: 1100px;
  }
}
