@media (min-width: 768px) and (max-width: 992px) {
  /* Header */

  .container-header {
    display: flex;
    padding-top: 3.2vh;
  }

  .navbar-maj {
    display: none;
  }

  .navbar-min {
    width: 100vw;
    text-align: center;
  }

  .navbar-logo-small img {
    width: 25vw;
  }

  .navbar-min ul {
    display: flex;
    width: 100vw;
    margin-top: 3.25vh;
  }

  .nav-item {
    display: flex;
    width: 50vw;
    justify-content: center;
  }

  .nav-link {
    font-size: 2.45vh;
    font-weight: 600;
    padding-right: 3.2vw;
    padding-left: 3.2vw;
    color: black;
    text-align: center;
  }

  .nav-item:hover {
    border-bottom: 2px solid var(--blue);
    color: var(--blue);
    padding-bottom: 2vh;
  }

  /*Main*/

  .container-main {
    margin-top: 1.5vh;
    padding: 1.6vh 5.3vw;
    padding-right: 2.8vw;
  }

  .container-fluid {
    padding: 0 0;
  }

  h1,
  .h2 {
    font-size: 3.41vh;
  }

  .h4 {
    margin: 1.96vh 0;
    font-size: 2.41vh;
  }

  form {
    padding-top: 3.5vh;
    display: flex;
    justify-content: center;
  }

  .ro-text {
    display: none;
  }

  .search input[type="text"] {
    display: flex;
    position: relative;
    padding-left: 5.2vw;
    width: 76.7vw;
    height: 7.55vh;
    font-size: 2.78vh;
  }

  .btn-left {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.72vh;
    width: 16vw;
    height: 7.55vh;
  }

  .btn-right {
    position: relative;
    left: -3.3vw;
    border-radius: 16px 16px 16px 16px;
    font-size: 2.72vh;
    height: 7.55vh;
    width: 16vw;
    justify-content: center;
    align-items: center;
  }

  .filter {
    margin-top: 5.3vh;
    display: flex;
    flex-wrap: wrap;
  }

  .filter .h3 {
    font-size: 2.8vh;
    padding: 0 1vw;
    margin-right: 80vw;
    margin-bottom: 2.35vh;
  }

  .filter-notify {
    height: 7.55vh;
    width: fit-content;
    margin-left: 6.9vw;
    margin-right: 2.8vw;
    margin-bottom: 1.8vh;
  }

  .filter-notify .sticker {
    font-size: 2.5vh;
    font-weight: 900;
    padding-left: 9.3vw;
    padding-right: 5.1vw;
  }

  .filter-notify .badge {
    position: absolute;
    left: -24px;
    display: flex;
    border-radius: 50px;
    background: var(--light-blue);
    color: var(--blue);
    width: 7.5vh;
    height: 7.5vh;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-blue);
  }

  .infos {
    margin-top: 3.7vh;
    display: flex;
    font-size: 2.42vh;
  }

  .badge-info {
    height: 3.6vh;
    margin-right: 3.2vw;
    font-size: 2vh;
    min-width: 6.5vw;
    border: 2px solid var(--grey);
  }

  .container-fluid {
    padding: 0 0;
  }

  /* Aside populars take order 1, first content in small device*/

  .populars {
    order: 1;
    flex-wrap: wrap;
    background-color: var(--grey);
    padding-bottom: 2.2vh;
    margin-bottom: 3vh;
  }

  .category-aside {
    width: 100%;
    display: flex;
    padding: 3.5vh 5.2vw;
    justify-content: space-between;
  }

  .fa-chart-line {
    font-size: 3.5vh;
  }

  .display-card-aside {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5.1vw;
  }

  .card-aside {
    display: flex;
    border: 1px solid var(--grey);
    border-radius: 25px;

    height: 22.4vh;
    padding: 0.7vh;
    margin-bottom: 1vh;
    background-color: var(--white);
  }

  .card-img-aside {
    display: flex;
    border-radius: 22px 0 0 22px;
    width: 36vw;
    height: 20.5vh;
    flex-wrap: wrap;
    margin-right: 4vw;
  }

  .card-body-aside {
    padding-top: 1.7vh;
    height: 22.4vh;
    width: 47vw;
    line-height: 1.2;
    text-align: start;
  }

  .card-footer-aside {
    padding-top: 5.2vh;
  }

  .file_7 {
    background-image: url(../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  }

  .file_8 {
    background-image: url(../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
  }

  .file_9 {
    background-image: url(../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
  }

  .title {
    font-weight: bold;
    font-size: 3.5vh;
  }

  .col-12,
  .col-8,
  .col-4-reduced,
  .col-3 {
    width: 100%;
  }

  .card-title {
    font-weight: 600;
    font-size: 2.38vh;
    padding-right: 15px;
  }
  .card-subtitle {
    padding-top: 1.2vh;
    font-size: 2.12vh;
  }

  .fa-star {
    font-size: 1.25vh;
  }

  .hostals {
    flex-wrap: wrap;
    margin-top: 4vh;
    line-height: 1.2;
  }

  .hosting {
    order: 2;
    padding-bottom: 2.2vh;
    margin-bottom: 3vh;
  }

  .title {
    font-weight: bold;
    font-size: 3.4vh;
  }
  .category {
    padding: 2.1vh 3vw;
  }

  .display-card {
    justify-content: center;
  }

  .activities {
    margin-top: 0.8vh;
    margin-left: 0.6vw;
  }

  .activities .category {
    padding-left: 5vw;
  }

  .display-activities {
    margin-top: 1.8vh;
    margin-bottom: 2.3vh;
  }

  .activity {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card {
    border: 2px solid var(--white);
  }
  .card,
  .card-vertical {
    border-radius: 15px;
    background-color: var(--white);
  }

  .card {
    padding: 0.7vh;
    margin-bottom: 2.3vw;
  }

  .card-vertical {
    margin-bottom: 3.9vh;
  }

  .card-img-large {
    width: 86.5vw;
    height: 17.8vh;
  }

  .card-img-large,
  .card-img-high,
  .card-img-mid-high,
  .card-img-min-high,
  .card-img-second-high,
  .card-img-medium,
  .card-img-medium2 {
    display: flex;
    border-radius: 15px 15px 0 0;
  }
  .card-img-high,
  .card-img-mid-high,
  .card-img-min-high,
  .card-img-second-high,
  .card-img-medium,
  .card-img-medium2 {
    width: 90vw;
    height: 20vh;
  }

  .card-body {
    padding-left: 0.7vh;
    line-height: 1.2;
    padding-top: 1vh;
  }

  .card-title {
    font-weight: 600;
    font-size: 2.4vh;
    padding-left: 1.3vw;
  }
  .card-subtitle {
    padding: 0.5vh 1.8vw;
    font-size: 2.1vh;
  }

  .fa-star {
    font-size: 1.3vh;
  }

  .card-footer {
    padding: 0.2vh 3.2vw;
  }

  .show {
    margin-left: 3vw;
    margin-top: 3.3vh;
    font-size: 2.8vh;
    font-weight: 900;
  }

  /* Test cards 
  
  .file_11,
  .file_12,
  .file_13,
  .file_14,
  .file_15,
  .file_16 {
    background-image: url(../images/hebergements/4_small/test.png);
  }*/

  .file_1 {
    background-image: url(../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
  }
  .file_2 {
    background-image: url(../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
  }

  .file_3 {
    background-image: url(../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
  }

  .file_4 {
    background-image: url(../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
  }

  .file_5 {
    background-image: url(../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
  }

  .file_6 {
    background-image: url(../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
  }

  .title-end {
    font-size: 5vh;
    font-weight: 600;
    color: var(--grey);
    padding: 0.7vh;
  }

  .file_7 {
    background-image: url(../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  }

  .file_8 {
    background-image: url(../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
  }

  .file_9 {
    background-image: url(../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
  }

  .file_11 {
    background-image: url(../images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
  }
  .file_12 {
    background-image: url(../images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
  }

  .file_13 {
    background-image: url(../images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
  }

  .file_14 {
    background-image: url(../images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  }

  .file_15 {
    background-image: url(../images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg);
  }

  .file_16 {
    background-image: url(../images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
  }

  .file_13,
  .file_15,
  .file_16 {
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .file_12 {
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .file_11,
  .file_14 {
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-vertical-title,
  .card-vertical-mid-title,
  .card-vertical-medium-title {
    margin-top: 2.2vh;
    margin-left: 5.2vw;
    padding-bottom: 1.8vh;
    font-size: 2.3vh;
    font-weight: 700;
    color: var(--black);
  }

  .col-12,
  .col-8,
  .col-4-reduced,
  .col-3 {
    width: 100%;
  }

  .first,
  .mid,
  .end {
    width: 100%;
    padding-left: 2px;
    justify-content: start;
    margin-bottom: 16px;
  }

  .col-4.end {
    padding-top: 12px;
  }

  footer {
    padding: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.9;
    background-color: var(--grey);
  }

  .footer-title {
    font-size: 18px;
    font-weight: bolder;
    color: black;
    padding-top: 13px;
    margin-bottom: 7px;
  }

  .footer-subtitle {
    font-size: 16px;
    font-weight: normal;
    color: black;
  }
}
